# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
coverage

# Ingored according to NPM Developers guide
.*.swp
._*
.DS_Store
.git
.npmrc
npm-debug.log

# project ignored
config
example.js
.*
